<div class="container-content">
    <div class="tab-wrap">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{active: $route.current.activetab == 'new' }">
                <a href="#!/canvas/new#new" aria-controls="new" role="tab" data-toggle="tab">
                    <div class="glyphicon glyphicon-plus"></div>
                </a>
            </li>
            <li role="presentation" ng-class="{active: $route.current.activetab == 'join' }">
                <a href="#!/canvas/join#join" aria-controls="join" role="tab" data-toggle="tab">
                    <div class="glyphicon glyphicon-log-in"></div>
                </a>
            </li>
        </ul>
        <div class="tab-bar"></div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="new" ng-class="{active: $route.current.activetab == 'new' }">
                <div class="container">
                    <div class="col-md-8">
                        <div class="form-group form-group-lg">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" class="form-control" id="title" ng-model="sharedCanvasObject.title">
                        </div>
                        <div class="form-group form-group-lg">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description"
                                   ng-model="sharedCanvasObject.description">
                        </div>
                        <div class="form-group form-group-lg">
                            <label for="people">People</label>
                            <select class="form-control" id="people" ng-model="sharedCanvasObject.people">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-lg">
                            <label class="control-label">Background</label>
                            <img src="assets/img/bg.jpg" class="img-responsive" height="100px">
                        </div>
                    </div>
                    <div>{{ sharedCanvasObject.uuid }}</div>
                    <div class="btn btn-lg btn-bottom-big" ng-click="clickButton()">
                        create
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="join" ng-class="{active: $route.current.activetab == 'join' }">
                <div class="container">
                    <div class="btn btn-lg btn-bottom-big">
                        <!--<a href="intent://scan/#Intent;scheme=zxing;package=com.google.zxing.client.android;end">-->
                        <a ng-href="{{ qrHref }}">
                            open qr code reader
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>