[Desktop Entry]
Name=FudeVeatNeo launcher
Version=2.0
Comment=Launches application
Exec=/home/pi/fudeVeatNeo-angular/raspi/launcher/launchFudeNeo.sh
Icon=/home/pi/fudeVeatNeo-angular/raspi/icon/fudeVeatNeoIcon@512px.png
Terminal=false
Type=Application
Categories=Education